# permite reescribir o redireccionar URL
RewriteEngine On 
#Este sirve para ocultar las carpetas  para que no se vea en el navegador, no permite el indexado de las carpetas 
Options All -Indexes
#esto es una regla, que nos permite poner varios caracteres asi como lo muetsra desntro del ()
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1

